In [1]:
#Jo√£o Gabriel da Silva Oliveira
#SAD

In [2]:
import pandas as pd
import numpy as np

In [3]:
pd.Series(np.random.randn(5), index=['a','b','c','d','e'])

a    0.616551
b    1.279559
c   -0.328838
d   -0.297657
e    0.738059
dtype: float64

In [4]:
s = pd.Series(np.random.randn(5), index=['a','b','c','d','e'])

In [5]:
print (s)

a    1.955687
b   -1.777236
c    0.767570
d    0.683483
e    0.938747
dtype: float64

In [6]:
print  (s[0])

1.95568690552

In [7]:

print(s[:3])

a    1.955687
b   -1.777236
c    0.767570
dtype: float64

In [8]:
df = pd.DataFrame(s, columns = ['Columns1'])

In [9]:
df

   Columns1
a  1.955687
b -1.777236
c  0.767570
d  0.683483
e  0.938747

In [10]:
df['Columns1']

a    1.955687
b   -1.777236
c    0.767570
d    0.683483
e    0.938747
Name: Columns1, dtype: float64

In [11]:
df['Columns2'] = df['Columns1'] * 4

In [12]:
df

   Columns1  Columns2
a  1.955687  7.822748
b -1.777236 -7.108944
c  0.767570  3.070282
d  0.683483  2.733931
e  0.938747  3.754990

In [13]:

df.sort_values(by="Columns2")

   Columns1  Columns2
b -1.777236 -7.108944
d  0.683483  2.733931
c  0.767570  3.070282
e  0.938747  3.754990
a  1.955687  7.822748

In [14]:
df[df['Columns2'] <= 2]

   Columns1  Columns2
b -1.777236 -7.108944

In [15]:
df.describe()

       Columns1  Columns2
count  5.000000  5.000000
mean   0.513650  2.054601
std    1.378555  5.514220
min   -1.777236 -7.108944
25%    0.683483  2.733931
50%    0.767570  3.070282
75%    0.938747  3.754990
max    1.955687  7.822748